body {
    font-size: large;
    background-image: url('static/background.jpg');
}

h1 {
    text-align: center;
    margin: 50px;
    font-family: 'Grandiflora One', cursive;
    font-size: 3em
}

#item-list {
    display: table;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #9f8c7a;
    background-color: #FAF0E6;
}

label {
    color: #585656;
    margin: 10px 0px;
    font-family: 'Indie Flower', cursive;
}


input {
    margin-right: 5px;
}

