<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyBucketList ({{ iaas_or_pass }})</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<html>
   <body>
      <h1>My bucket list</h1>
      <form action="/">
        {% for item in items: %}
        <div class="item">
          <input type="checkbox" id="{{ item.id }}" name="{{ item.id }}" value="{{ item.id }}" {{ "checked" if item.completed else "" }}>
          <label for="{{ item.id }}">{{ item.description }}</label><br>
        </div>
        {% endfor %}
      </form>
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
   </body>
</html>